{% extends 'website/base/base.html' %}

{% load static %}
{% block title %}VegasSports{% endblock %}

{% block book_table %} 
<table class="custom-165kie4 e1unlr6y2">
										<tbody>
											<tr>
												<th class="custom-wesp8u e1unlr6y1">Rank</th>
												<th class="custom-wesp8u e1unlr6y1">Book</th>
												<th class="custom-wesp8u e1unlr6y1">Offer</th>
												<th class="custom-wesp8u e1unlr6y1">Details</th>
												<th class="custom-wesp8u e1unlr6y1">Bet</th>
											</tr>
											<!-- for loop begening for the state list of Books -->
											{% for book in Books %}
											<tr class="custom-1jp092s e13t80580">
												<td class="custom-cqxyz0 e13t80581">
													<div class="promotion-row__rank">{{ book.vsrank }}</div>
												</td>
												
												<td class="custom-cqxyz0 e13t80581"> 
													<a rel="noopener" target="_blank" class="promotion-row__image-container" href="https://switchboard.actionnetwork.com/offers?bookId=68&amp;context=web-sbr-landing-page&amp;selectedPromo=promo2&amp;deviceId=4ff7bf1a-3d6c-44b4-931d-b9028bd69862">
														<div class="lazyload-placeholder"><img src="{% static '' %}{{ book.logolink }}"
															width="200" 
															height="100"/>
														</div>
													</a>
												</td>
												<td class="custom-cqxyz0 e13t80581">
													<div class="promotion-row__cta-container">
														<div class="promotion-row__cta">{{ book.welcomeoffer }}</div><a rel="noopener" target="_blank" class="promotion-row__claim-now" href="https://switchboard.actionnetwork.com/offers?bookId=68&amp;context=web-sbr-landing-page&amp;selectedPromo=promo2&amp;deviceId=4ff7bf1a-3d6c-44b4-931d-b9028bd69862">Claim Now</a></div>
												</td>
												<td class="custom-17g771m e13t80581">
													<div class="promotion-row__value-props">
														<div class="promotion-row__prop-container">
															<div class="mobile-promotion-card__checkmark">
																<svg viewBox="0 0 1592 1592" width="18" height="18" preserveAspectRatio="none" xmlns="https://www.w3.org/2000/svg" class="">
																	<path fill="#00C358" d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"></path>
																</svg>
															</div>
															<div class="promotion-row__prop">{{ book.vsnotes }}</div>
														</div>

														<div class="promotion-row__prop-container">
															<div class="promotion-row__spacer"></div><a class="promotion-row__review" href="/online-sports-betting/reviews/draftkings">Full Review</a></div>
													</div>
												</td>
												<td class="custom-cqxyz0 e13t80581">
													<a rel="noopener" target="_blank" href="https://switchboard.actionnetwork.com/offers?bookId=68&amp;context=web-sbr-landing-page&amp;selectedPromo=promo2&amp;deviceId=4ff7bf1a-3d6c-44b4-931d-b9028bd69862">
														<button class="promotion-row__button custom-7hufij e1y7ccqs0">Bet Now</button>
													</a>
												</td>
											</tr>
											{% endfor %}
											<!-- For loop End -->
										</tbody>
									</table>
{% endblock %}